@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-colorful: #361771;
  --vt-c-colorful-soft: #401d83;
  --vt-c-colorful-mute: #472589;

  --vt-c-icon-colorful-1: rgb(255, 0, 0);

  --vt-c-divider-colorful-1: rgb(38, 255, 0);
  --vt-c-divider-colorful-2: rgb(0, 120, 255);

  --vt-c-text-colorful-1: rgb(255, 255, 20);
  --vt-c-text-colorful-2: rgb(255, 157, 20);
  --vt-c-text-light-1: var(--vt-c-black);
  --vt-c-text-dark-1: var(--vt-c-white);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-colorful);
  --color-background-soft: var(--vt-c-colorful-soft);
  --color-background-mute: var(--vt-c-colorful-mute);

  --color-border: var(--vt-c-divider-colorful-1);
  --color-border-hover: var(--vt-c-divider-colorful-2);

  --color-heading: var(--vt-c-text-colorful-1);
  --color-text: var(--vt-c-text-colorful-2);

  --color-icon: var(--vt-c-icon-colorful-1);

  --section-gap: 160px;
}

/* semantic color variables for this project */
/*:root {*/
/*  --color-background: var(--vt-c-white);*/
/*  --color-background-soft: var(--vt-c-white-soft);*/
/*  --color-background-mute: var(--vt-c-white-mute);*/

/*  --color-border: var(--vt-c-divider-light-2);*/
/*  --color-border-hover: var(--vt-c-divider-light-1);*/

/*  --color-heading: var(--vt-c-text-light-1);*/
/*  --color-text: var(--vt-c-text-light-1);*/

/*  --section-gap: 160px;*/
/*}*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
          color 0.5s,
          background-color 0.5s;
  line-height: 1.6;
  font-family:
          'Courier Prime',
          -apple-system,
          BlinkMacSystemFont,
          'Segoe UI',
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          'Fira Sans',
          'Droid Sans',
          'Helvetica Neue',
          sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
