@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  color: #00e5ff; /* Bright Cyan */
  text-decoration: none; /* Optional: Remove underline */
  transition: color 0.3s ease;
}

a:hover {
  color: #01ffcc; /* Turquoise for hover effect */
  text-decoration: underline; /* Add underline on hover for accessibility */
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 1024px) {
  .vertical-center-flex {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .center-center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    place-items: center;
  }
}
