@import './base.css';

a {
  color: var(--color-link);
  text-decoration: none; /* Optional: Remove underline */
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: underline; /* Add underline on hover for accessibility */
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.item-list h3 {
  font-size: 2rem;
  color: var(--color-heading);
}

.item-card {
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  background-color: var(--color-card);
  border-bottom: var(--color-text);
  border-bottom-style: dashed;
  border-bottom-width: 5px;
  box-sizing: content-box;
}
.item-card h3 {
  border-radius: 12px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--color-text);
}
.item-card p {
  text-align: left;
  width: 100%;
  margin-top: 8px;
}
.item-card > form {
  width: 100%;
}
.item-card textarea {
  width: 100%;
  max-width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--color-border);
  min-height: 2em;
  resize: vertical;
}
.item-card textarea:focus {
  outline: none;
  border-color: var(--color-border);
  box-shadow: 0 0 4px var(--color-shadow);
}



.form-group {
  margin-bottom: 12px;
}
.form-group input {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid var(--color-border);
  font-size: 16px;
}
.form-group input:focus {
  outline: none;
  border-color: var(--color-border);
  box-shadow: 0 0 4px var(--color-shadow);
}

.login-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--color-background-mute);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:disabled {
  background-color: var(--color-background);
  cursor: not-allowed;
}

.login-button:hover:not(:disabled) {
  background-color: var(--color-background-soft);
}

.center-center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  display: flex;
  place-items: center;
}
